body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.menu-principal {
    width: 100%;
    background-color: #252123;
    height: 120px;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo{
   padding: 15px;
   margin-left: 350px;
}
.conteudo {
    width: 100%;
    background-color: #e9e9e9;
    height: 3050px;
    border-left-width: medium;
    border-left-color: #252123;
}
.video
{
    margin-left: 375px;
}
.texto{
    margin-left: 10em;
    margin-right: 10em;
}
.imagem2
{
    margin-left: 10em;
}
